iframe{

    width:100%;
    height:100%

}

header{
    border-bottom:solid;

}
footer{
    border-top:solid;

}
h1{
  font-style: italic;

    text-align:center;
}
h2{
      font-style: italic;

    text-align:center;

}
p{
    text-align:center;
   font-size: 30px;

  font-style: italic;

}